[Desktop Entry]
Name=TSW Controller App
Comment=Connect your controller to any train simulator game
Exec=tsw-controller-app
Icon=io.github.liahmartens.tsw-controller-app
Type=Application
Categories=Game;
Terminal=false
